<div class="table-wrapper">
  <!-- <div class="filter-wrapper">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div> -->

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="technology">
        <mat-header-cell *matHeaderCellDef>Technology</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.skills.level}}</mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="skillLevel">
        <mat-header-cell *matHeaderCellDef>Skill level</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.userSkills.skillLevel.name}}</mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>