/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-column-menu {
	flex: none;
	width: 30px;
}

.mat-form-field{
	margin: 20px 5px;
	width: 100%;
}

.add-button{
    text-align: end;
}

.mat-icon{
	color: #81c784;
}