<form [formGroup]="projectForm">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" formControlName="description" required>
    </mat-form-field>

    <teamup-industry formControlName="industry"></teamup-industry>
    <teamup-company formControlName="company"></teamup-company>

    <h4>User experience</h4>
    <div formArrayName="userExperience"
        *ngFor="let userexp of projectForm.get('userExperience').controls; let i = index;">
        <div [formGroupName]="i">
            <teamup-user-experience [formControl]="userexp"></teamup-user-experience>
        </div>
        <button mat-raised-button color="primary" (click)="addUserExperience()">Add user experience</button>
        <button mat-raised-button (click)="removeUserExperience(i)"
            *ngIf="projectForm.get('userExperience').controls.length >1">Remove
            user experience</button>
    </div>
</form>