<form [formGroup]="industryForm" class="industry-form">
    <mat-form-field>
        <input type="text" placeholder="{{'profile.industry' | translate}}" aria-label="Number" matInput formControlName="industry"
               [matAutocomplete]="auto" required>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of industries" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
