<mat-card class="invite-card mat-elevation-z8">
    <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()">
        <mat-card-header>
            <mat-card-title>Invite user</mat-card-title>
            <mat-icon>mail_outline</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="{{'invite.username' | translate}}"
                       formControlName="username"
                       required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="email" placeholder="{{'invite.email' | translate}}"
                       formControlName="email"
                       required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="{{'invite.password' | translate}}"
                       formControlName="password"
                       required>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="role" placeholder="{{'invite.role' | translate}}" required>
                    <mat-option *ngFor="let role of key(roles)" [value]="role">
                        {{roles[role]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <teamup-location formControlName="location"></teamup-location>
            <teamup-company formControlName="company"></teamup-company>
        </mat-card-content>

        <mat-card-actions class="invite">
            <button mat-raised-button color="primary" type="submit" >{{ 'invite.button' | translate }}</button>
        </mat-card-actions>
    </form>
</mat-card>

