:host {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.login {
	text-align: center;
	display: block;
	height: 100%;
	width: 100%;
	background-color: #673ab7;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 55%;
	padding: 10px 8px 0px;
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 30px 38px #1a2e314d, 0 30px 30px #1a2e314d;
}

button {
	width: 100%;
	height: 15%;
	border-radius: 0px;
	margin: 0 auto;
	color: whitesmoke;
	background-color: #320b86;
}

button:hover {
	box-shadow: 0 19px 38px #0000004d, 0 15px 12px #00000038;
}

mat-form-field {
	width: 70%;
}

img {
	width: 60%;
}