<form [formGroup]="basicInfoForm">

    <teamup-picture formControlName="picture"></teamup-picture>
    
    <mat-form-field>
        <input matInput placeholder="{{'profile.firstName' | translate}}" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{'profile.lastName' | translate}}" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{'profile.email' | translate}}" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="{{'profile.dateOfBirth' | translate}}" formControlName="birthDate" required [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'profile.language' | translate }}</mat-label>
        <mat-select formControlName="language">
            <mat-option *ngFor="let key of keys" [value]="language[key]">
                {{language[key]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
