<form [formGroup]="basicInfoForm">
    <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Date of birth" formControlName="birthDate" required>
    </mat-form-field>

</form>
