<form [formGroup]="techAreaForm" class="techArea-form">

    <mat-form-field>
        <input type="text" placeholder="Technology Area" aria-label="Number" matInput formControlName="area"
               [matAutocomplete]="auto" required>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of techAreas" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
