<mat-card class="profile-card mat-elevation-z8">
    <form [formGroup]="profileForm" (ngSubmit)="approveProfile()" >

        <mat-card-header>
            <mat-card-title>Personal details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img [src]="profilePicture" *ngIf="profilePicture">
            <teamup-basic-user-info formControlName="basicInfo"></teamup-basic-user-info>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>Technical details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <teamup-technical-user-info formControlName="technicalInfo"></teamup-technical-user-info>
        </mat-card-content>

        <mat-card-actions class="save">
            <button mat-raised-button color="primary" type="submit" translate>profile.approve</button>
        </mat-card-actions>
    </form>
</mat-card>
