<mat-toolbar *ngIf="this.authService.isAuthenticated()" color="primary">

	<a routerLink="/home">
		<img id="icon" src="../../../assets/logo.png" alt="teamup logo" width="70">
	</a>

	<span class="menu-spacer"></span>

	<div *ngIf="this.authService.getRole()==='ADMIN'">
		<nav>
			<a mat-button routerLink="/home/profile" [routerLinkActive]="['is-active']">{{'Profile'}}</a>
			<a mat-button routerLink="/home/users" [routerLinkActive]="['is-active']">{{'Users'}}</a>
		</nav>
	</div>

	<div *ngIf="this.authService.getRole()==='CUSTOMER'">
		<nav>
			<a mat-button routerLink="/home/profile" [routerLinkActive]="['is-active']">{{'Profile'}}</a>
			<a mat-button routerLink="/home/users" [routerLinkActive]="['is-active']">{{'Users'}}</a>
		</nav>
	</div>

	<div *ngIf="this.authService.getRole()==='SUPERVISOR'">
		<nav>
			<a mat-button routerLink="/home/profile" [routerLinkActive]="['is-active']">{{'Profile'}}</a>
			<a mat-button routerLink="/home/users" [routerLinkActive]="['is-active']">{{'Users'}}</a>
		</nav>
	</div>

	<div *ngIf="this.authService.getRole()==='EMPLOYEE'">
		<nav>
			<a mat-button routerLink="/home/profile" [routerLinkActive]="['is-active']">{{'Profile'}}</a>
		</nav>
	</div>

	<span class="fill-remaining-space"></span>
	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<span mat-menu-item>
			<mat-icon>language</mat-icon>
			<a mat-button (click)="useLanguage('en')">EN</a>
			<a mat-button (click)="useLanguage('de')">DE</a>
			<a mat-button (click)="useLanguage('ro')">RO</a>
		</span>
		<span mat-menu-item>
			<mat-icon>exit_to_app</mat-icon>
			<a mat-button (click)="signOut();">Sign out</a>
		</span>
	</mat-menu>

</mat-toolbar>