<mat-card class="profile-card mat-elevation-z8">
	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

		<mat-card-header>
			<mat-icon>face</mat-icon>
			<mat-card-title>Personal details</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<teamup-basic-user-info formControlName="basicInfo"></teamup-basic-user-info>
		</mat-card-content>

		<mat-card-header>
			<mat-icon>important_devices</mat-icon>
			<mat-card-title>Technical details</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<teamup-technical-user-info formControlName="technicalInfo"></teamup-technical-user-info>
		</mat-card-content>

		<mat-card-actions class="save">
			<button mat-raised-button color="primary" type="submit">Save</button>
		</mat-card-actions>
	</form>
</mat-card>