<form [formGroup]="userExperienceForm">
    <mat-form-field>
        <input matInput placeholder="Full name" formControlName="fullName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Start date" formControlName="startDate" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="End date" formControlName="endDate" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" formControlName="description" required>
    </mat-form-field>
</form>
